# .gitignore
######################
# Maven
######################
target/
######################
# Eclipse
######################
.project
.metadata
.classpath
.settings/
######################
# IDEA
######################
.idea/
*.iml